
@{
    ViewBag.Title = "RegisterIdea";
}



@if (@ViewBag.addIdea)
{
    <div class="mt-4 offset-1 bodyContainer">

        <h3>Add New Idea</h3>

        <form>
            <input value="@ViewBag.TeamID" id="teamID" hidden />

            <div class="form-group">
                <label> Idea Name </label>
                <input type="text"
                       name="Ideaname"
                       class="form-control col-5"
                       placeholder="Enter Idea Name"
                       id="ideaName"
                       data-val="true"
                       data-val-length="Idea Name Length must be within 5 and 50"
                       data-val-length-min="5"
                       data-val-length-max="50"
                       data-val-required="Idea Name is required" />
                <small class="form-text text-danger" data-valmsg-for="Ideaname" data-valmsg-replace="true"></small>
            </div>
            <div class="form-group">
                <label>Description </label>
                <textarea class="form-control col-9"
                          name="Itemdescription"
                          placeholder="Enter Idea Name"
                          rows="4" id="ideaDescription"
                          data-val="true"
                          data-val-length="Idea Description Length must be not less than 5"
                          data-val-length-min="5"
                          data-val-required="Idea Description is required"
                          ></textarea>
                <small class="form-text text-danger" data-valmsg-for="Itemdescription" data-valmsg-replace="true"></small>
            </div>

            <div class="form-group">
                <label>Department</label>
                @Html.DropDownList("DeptID", ViewBag.Departments as SelectList, new { @class = "form-control col-2 deptID" })
            </div>
            <div class="form-group profList">
                <label>Professor (You Can Choose Up To 3)</label>
                <button class="ml-2 border-0 rounded-circle" id="btnProf" type="button">
                    <img src="~/Content/plus.svg" width="12" />
                </button>
                <small class="form-text text-danger ml-3 d-none" id="profError"></small>
                <select class="form-control" id="1">
                </select>

            </div>
            <button type="submit" class="btn btn-primary" id="btnAdd" @*value="Submit"*@>Submit</button>
        </form>


    </div>

}
else
{
    <div class="mt-4 offset-1 bodyContainer">


        <div class="row">
            <h3 class="text-info col-6">You Have Pending Idea</h3>
            <button class="btn btn-danger offset-3" id="btnideaDrop">Drop</button>
        </div>


        <span class="d-none"> @ViewBag.existingIdea.IdeaID</span>


        <div class="form-group">
            <label> Idea Name </label>
            <input type="text" class="form-control col-5" value="@ViewBag.existingIdea.IdeaName" disabled />
        </div>
        <div class="form-group">
            <label>Description </label>
            <textarea class="form-control col-9" rows="4" id="ideaDescription" disabled>@ViewBag.existingIdea.IdeaDescription
            </textarea>
        </div>

        <div class="form-group profList">
            <label>Selected Professors</label>
            <ul>
                @foreach (var item in ViewBag.existingIdea.Professors)
                {
                    <li>@item.ProfName</li>
                }
            </ul>
        </div>



    </div>



}


@section scripts {
    <script>
        $('document').ready(function () {

            let btnCount = 1;

            let profCountDept = 0;

            let DepartProfessors = [];

            (function populateDepartProfessors() {
                $.ajax({
                    url: "/Home/DepartmentProfessors",
                    method: "GET",
                    dataType: "JSON",
                    success: (response) => DepartProfessors = response,
                    error: () => console.log("Error !!!")
                });
            })();

            window.setTimeout(() => populateProfList(1), 100);

            function populateProfList(option) {
                let deptID = $('.deptID').val();
                //console.log(deptID);
                if (deptID) {
                    profCountDept = 0;
                    $(`#${option}`).empty();
                    $(`#${option}`).append(`<option disabled selected>(Choose Your Professor)</option>`);
                    //console.log(DepartProfessors);
                    DepartProfessors.forEach(dept => {
                        if (dept.DeptID == deptID) {
                            dept.Professors.forEach(prof => {
                                profCountDept++;
                                $(`#${option}`).append(`<option value=${prof.ProfID}>${prof.ProfName}</option>`);
                            });
                        }
                    });

                    if (profCountDept < ($('.profList').children('select').length + 1))
                        $('#btnProf').attr("disabled", true);
                    else
                        $('#btnProf').removeAttr("disabled");
                }

            }


            $('.deptID').on("change", () => {
                let i = $('.profList').children('select').length;
                //console.log(`SelectLength ${i}`);
                for (let j = i - 1; j > 0; j--) {
                    //console.log(`i ${i} :: j ${j}`);
                    $('.profList').children('select')[j].remove();
                    $('.profList').children('button')[j].remove();
                    $('.profList').children('br').remove();
                }
                profCountDept = 0;
                $('#btnProf').css("display", "inline");
                $('#profError').removeClass('d-inline').addClass("d-none");
                populateProfList($('.profList').children('select')[0].id);

            });

            $('form').on("submit", function (e) {
                e.preventDefault();
                let enabled = true;
                if ($('form').valid()) {
                    let that = $(this).closest('.bodyContainer');
                    //console.log(that);
                    let Professors = [];
                    Array.from($('.profList').children('select')).forEach(item => {
                        //console.log($(`#Prof${item.id[4]} :selected`).val());
                        if ($(`#${item.id} :selected`).attr('disabled') == "disabled"){
                            enabled = false;
                        }
                        else
                            Professors.push($(`#${item.id} :selected`).val());
                    });

                    if (!enabled)
                        $('#profError').removeClass('d-none')
                            .addClass("d-inline")
                            .text("Please Choose Professor");

                    else {
                        $('#profError').removeClass('d-inline').addClass("d-none");
                        if (Array.from(new Set(Professors)).length < Professors.length)
                            $('#profError').removeClass('d-none')
                                .addClass("d-inline")
                                .text("Can't Choose The Same Professor");
                        else {
                            let itemObj = {
                                IdeaName: $('#ideaName').val(),
                                IdeaDescription: $('#ideaDescription').val(),
                                TeamID: $("#teamID").val(),
                                Professors: Professors
                            };
                            console.log(itemObj);
                            $.ajax({
                                url: "/Home/RegisterIdea",
                                method: "POST",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(itemObj),
                                success: (response) => {
                                    console.log(response);
                                    that.fadeOut();
                                    setTimeout(() => {
                                        that.empty();
                                        that.css("display", "inline").append(`<h3 class="offset-2 mt-3 text-success">Idea Added Successfully !!!</h3>`);
                                    }, 500);
                                },
                                error: () => console.log("Error!!!")
                            });
                        }

                    }
                }
                


            });

            $('#btnProf').on("click", () => {
                let i = $('.profList').children('select').length + 1;
                //console.log(`profCountDept :: ${profCountDept}`);
                btnCount++;
                $('.profList').append(`<select class="mt-3 form-control d-inline" id="${btnCount}"></select>
                    <button class="ml-2 border-0 rounded-circle btnremoveProf" data-id=${btnCount} type="button">
                        <img src="/Content/minus.svg" width="12" />
                    </button>
                    <br data-id="${btnCount}"/>
                `);
                //console.log(`i=${i}`);
                populateProfList(btnCount);
                if (i == 3)
                    $('#btnProf').css("display", "none");
            });

            $('.profList').on("click", "button.btnremoveProf", function () {
                //console.log($(this).attr('data-id'));
                let btnID = $(this).attr('data-id');
                $('.profList').find(`#${btnID}`).remove();
                $('.profList').find(`[data-id=${btnID}]`).remove();
                $('#btnProf').removeAttr("disabled");
                $('#btnProf').css("display", "inline");
            });


            $('#btnideaDrop').on("click", function () {
                //console.log($(this));
                let that = $(this).closest('.bodyContainer');
                //console.log(that.children('span').text());
                let ideaID = that.children('span').text();

                $.ajax({
                    url: `/Home/DropIdea?ideaID=${ideaID}`,
                    method: "POST",
                    dataType: "JSON",
                    success: (response) => {
                        console.log(response);
                        that.fadeOut();
                        setTimeout(() => {
                            that.empty();
                            that.css("display", "inline").append(`<h3 class="offset-2 mt-3 text-success">Idea Removed Successfully !!!</h3>`);
                        }, 500);
                    },
                    error: () => console.log("Error !!!")
                });

            });

        });
    </script>
    }